<!--Navbar-->
<mdb-navbar id="nav"  SideClass="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/"><img src=""></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a [routerLinkActiveOptions]={exact:true} class="nav-link waves-light" mdbWavesEffect routerLink="/"
           routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/teachers" routerLinkActive="active">Teachers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="courses" routerLinkActive="active">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="admin" routerLinkActive="active">Dashboard</a>
      </li>



    </ul>
    <!-- Links -->

    <!-- Search form -->

    <links>
      <form class="form-inline waves-light waves-light ml-auto" mdbWavesEffect>
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for courses ..." aria-label="Search" (change)="handleInput($event)">
          <button mdbBtn routerLink ="search/{{this.val}}" type="button" class="btnsearch" size="sm"  mdbWavesEffect>search</button>
        </div>
      </form>
    </links>
    <!-- Dropdown -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Profil</a>
              <a class="dropdown-item" href="#">Register</a>
              <a class="dropdown-item" href="#">Login</a>
              <div class="divider dropdown-divider"></div>

              <button mdbBtn type="button" flat="true" size="sm" id="logout" mdbWavesEffect>logout</button>

              <button mdbBtn type="button" color="danger" rounded="true" outline="true" mdbWavesEffect
                (click)="logout()"  
              >
                Logout
              </button>

            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
