<!-- Default form login -->
<form class="text-center border border-light p-5"
  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate
  >

  <p class="h4 mb-4">Login</p>

  <!-- Email -->
  <input name="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"
         [(ngModel)]="user.email" required
  >

  <!-- Password -->
  <input name="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"
         [(ngModel)]="user.password" required
  >

  <!-- Role -->
  <div *ngFor="let role of roles; let idx = index"
    class="custom-control custom-radio">
    <input name="role" type="radio" class="custom-control-input"
           id="{{ role }}RadioButton"
           [checked]="idx === 0"
           [value]="role"
           (change)="onSelectionChange(role)"
           mdbInput
    >
    <label class="custom-control-label"
           for="{{ role }}RadioButton">
          {{ role }}
    </label>
  </div>

<!--
  <div class="d-flex justify-content-around">
    <div>
      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
    </div>
    <div>
      <a href="">Forgot password?</a>
    </div>
  </div>
-->

<!-- Login button -->
<button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!f.valid" >Login</button>

<!-- Register -->
<p>Not a member ?
  <a routerLink="/auth/signup" routerLinkActive="active">Register</a>
</p>

<!-- Social login -->
<!--
  <p>or Login with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="github"></mdb-icon>
  </a>
-->

</form>
<!-- Default form login -->
